body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    height: 72px;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}